// Color Palette: Primary
$coveo-blue: #004990;
$science-blue: #0061c0;
$azure-radiance: #0d80ef;
$dodger-blue: #3ca0ff;
$lynch: #5d7289;
$bali-hai: #8097aa;
$nepal: #94a9bf;
$heather: #b5c4cf;
$color-greyish-teal-blue: #1d4f76;

// Grey Palette
$grey-5: #b5c4cf;
$grey-4: #cfd9e0;
$grey-3: #e4eaed;
$grey-1: #f7f8f9;

// Color Palette: Extended/Secondary (for designers only)
$coveo-blue-6: #004990;

// Others

$silver_chalice: #adadad;
$rhino: #263e55;
$calypso: #316084;
$tangerine: #ef9700;

$icon-container-size: 24px;
$default-border: 1px solid $grey-5;
