{
    "team_name": "searchuiextensions",
    "product": "search-ui-extensions-cdn",
    "general": {
        "environments_order": {
            "sequential": [
                "dev",
                "stg",
                "prd"
            ]
        },
        "start_environment_automatically": true
    },
    "observatory": {
        "no_endpoint": true
    },
    "phases": {
        "s3": {
            "dev": {
                "bucket": "coveo-ndev-binaries"
            },
            "stg": {
                "bucket": "coveo-hstg-binaries"
            },
            "prd": {
                "bucket": "coveo-nprod-binaries"
            },
            "directory": "proda/StaticCDN",
            "parameters": {
                "acl": "public-read"
            }
        }
    },
    "deployment_config_version": 13
}
