{
    "team_name": "searchuiextensions",
    "product": "search-ui-extensions-cdn",
    "general": {
        "environments_order": {
            "sequential": [
                "dev",
                "stg",
                "prd"
            ]
        },
        "start_environment_automatically": true
    },
    "snyk": {
        "org": "coveo-jsui",
        "no_dependencies": true,
        "no_container_images": true
    },
    "snyk_code":{
        "no_scan": false,
        "configurations": [
            {
                "org": "coveo-jsui",
                "project_name": "search-ui-extensions",
                "path": "src/"
            }
        ]
    },
    "observatory": {
        "no_endpoint": true
    },
    "veracode": {
        "no_scan": true
    },
    "phases": {
        "s3": {
            "dev": {
                "bucket": "coveo-ndev-binaries"
            },
            "stg": {
                "bucket": "coveo-hstg-binaries"
            },
            "prd": {
                "bucket": "coveo-nprod-binaries"
            },
            "directory": "proda/StaticCDN",
            "parameters": {
                "acl": "public-read"
            }
        }
    },
    "deployment_config_version": 1
}