@import '../../sass/Variables.scss';

$border-radius: 2px;
$default-font-size: 15px;
$list-font-size: 13px;
$default-padding: 8px;

.CoveoTopQueries {
    border: $default-border;
    border-radius: $border-radius;
    max-width: 500px;

    h2 {
        margin: 0;
        padding: $default-padding;
        background-color: $grey-3;
        font-size: $default-font-size;
        color: $color-greyish-teal-blue;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        font-size: $default-font-size;
    }

    li {
        margin: 0;
        border-top: $default-border;

        a {
            padding: $default-padding;
            padding-left: 20px;
        }
    }
}
