@import '../../sass/Variables.scss';

$title-font-size: 1.1em;
$default-padding: 6px;

.CoveoTopQueries {
    border: $default-border;
    border-radius: $border-radius;
    max-width: 500px;

    h2 {
        margin: 0;
        padding: $default-padding;
        background-color: $grey-3;
        font-size: $title-font-size;
        color: $color-greyish-teal-blue;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    li {
        margin: 0;
        border-top: $default-border;
        padding: $default-padding;
        padding-left: 20px;
    }
}
